# Backup files
*~

# python cache
__pycache__/

# juypter internals
.ipynb_checkpoints/

# Temp notebook
Untitled.ipynb

# Temp directory
tmp/

# data files downloaded
data/*.fits
data/*/*

# output files
